<% provide(:title, "Update Child") %>
<% provide(:button_text, "Save Changes") %>
<h1>Update Child Profile</h1>

<%= render 'form' %>
<%= button_to "Delete Child", child_path(@child.id), method: :delete %>