<% provide(:title, "Update Child") %>
<% provide(:button_text, "Save Changes") %>

<h1>Update Child Profile</h1>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= render 'form' %>
		<%= button_to "Delete Child", child_path(@child.id), method: :delete, data: {confirm: "Are you sure?"} %>
	<div>
</div>

