<% provide(:title, 'All Children') %>
<h1>Select Child</h1>

<ul class="objects">
  <% @children.each do |child| %>
    <li>
		<a href="<%= family_path(child.id) %>">
		<h4><%= child.fname %>
			<%= child.lname %></h4>
		</a>
    </li>
  <% end %>
</ul>