<% provide(:title, 'Families') %>

<!-- When the Center Admin wants to add or remove a parent from a child's account, this code lists all the children from which to select. -->

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3"> 
			<% if current_center.admin? %>
			  	<h1 class="half_size"><%= @center.name %></h1>
			<% end %>
			<h1>Select Child</h1>
			<% if @children.length == 0 %>
				<h2><i>(There are no registered children.)</i></h2>
			<% end %>
			<div class="objects">
				  <% @children.each do |child| %>
				    <li>
						<a href="<%= family_path(child.id) %>">
						<h4><%= child.fname %>
							<%= child.lname %></h4>
						</a>
				    </li>
				  <% end %>
			 </div>
		</div>
	</div>
</div>
