<% provide(:title, 'All Groups') %>
<h1>All Groups</h1>

<%= will_paginate %>

<ul class="objects">
  <% @groups.each do |group| %>
    <li>
		<a href="<%= edit_group_path(group.id) %>">
		<h4><%= group.name %></h4>
		</a>
    </li>
  <% end %>
</ul>

