<% provide(:title, 'All Centers') %>
<h1>All Centers</h1>

<%= will_paginate %>

<ul class="objects">
  <% @centers.each do |center| %>
    <li>
		<a href="<%= edit_center_path(center.id) %>">
		<h4><%= center.name %></h4>
		</a>
    </li>
  <% end %>
</ul>

