<% provide(:title, 'Superadmin') %>

<div class="container">
	<h1 class="page_title"> Super Administration </h1>
	<hr>
	<!-- <h1> Families </h1> -->
	<!-- <h2> <%#= link_to "Manage Child-Adult Relationships", families_path, method: :get %></h2> -->

	<div class="row">		
		 <h1 class="col-md-12"> Manage Centers </h1>
	</div>
	<div class="row">
		 <h2 class="col-md-12"><%= link_to "Register New Center", new_center_path %></h2>
	</div>
	<div class="row">
		 <h2 class="col-md-12"><%= link_to "Center Administration", centers_path, method: :get %></h2>
	</div>	
</div>
	
<!-- 		<h1>Super Administration</h1>
		
		<div>
			<h2>Select Center</h2> -->
			<%#= form_tag do %>
			 	<%#= collection_select(:center, :id, @centers, :id, :name, :prompt => false) %>
			 	<%#= button_to "submit class" %>
			<%# end %>
<!-- 		</div>
	 
 </div> -->