<% provide(:title, "Home") %>

<!-- Landing page. -->

<div class="center jumbotron">
  <h1> Guidestar Attendance </h1>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= image_tag("guidestar_forms_logo.jpg", width: '100%') %>
  </div>
</div>
