<% provide(:title, 'Report') %>

<% Time.zone = 'America/New_York' %>

<h1 class="well">Attendance Records</h1>
<% if current_center.admin? %>
	<h3><%= @center.name %></h3><hr>
<% end %>
<hr>
<%= render "search" %>
<br>
<% if !@handoffs.empty? %>
	<%= render "report" %>
<% end %>

