<% provide(:title, 'Class Attendance') %>
<% provide(:button_text, "List Students") %>

<div class="container">	
	<div class="row">
		 <div class="col-xs-6 col-xs-offset-3">
			<h1>Class Attendance</h1><br>
			<div>
				<%= form_tag do %>
					<%#= label_tag "Select class" %>
					<%= grouped_collection_select :group, :group_id, @locations, :groups, :name, :id, :name, prompt: "Click here to select class"  %>
				 	<%= submit_tag yield(:button_text), class: "btn btn-primary" %>
				<% end %>
			</div>
		 </div>
 	</div>
</div>
