<% provide(:title, 'Class Attendance') %>
<% provide(:button_text, "List Students") %>

<div class="container">	
	<div class="row">
		 <div class="col-xs-4 col-xs-offset-4"><br>
			<h1 class="well">Select Class</h1><br>
			<div>
				<%= form_tag do %>
					<%#= label_tag "Select class" %>
					<%= grouped_collection_select :group, :group_id, @locations, :groups, :name, :id, :name, prompt: "Class by location"  %>
				 	<%= submit_tag yield(:button_text), class: "btn btn-primary" %>
				<% end %>
			</div>
		 </div>
 	</div>
</div>
