<% provide(:title, 'All Teachers') %>
<h1>All Teachers</h1>

<%= will_paginate %>

<ul class="objects">
  <% @teachers.each do |teacher| %>
    <li>
		<a href="<%= edit_teacher_path(teacher.id) %>">
		<h4><%= teacher.fname %>
			<%= teacher.lname %></h4>
		</a>
    </li>
  <% end %>
</ul>

