<% provide(:title, "Search") %>

<h1 class="well">Search Results</h1>
<% if current_center.admin? %>
	<h3><%= @center.name %></h3><br>
<% end %>

<p><%= link_to 'Back', handoffs_path %></p>

<% @handoffs = @search.search_handoffs.where(:center_id => @center.id) %>

<% if @handoffs.empty? %>
	<p> No records found.</p>
<% else %>	
	<%= render "handoffs/report" %>
<% end %>
