<% provide(:title, "Search") %>

<h1 class="well", style="color: blue;">SEARCH&nbsp;&nbsp;RESULTS</h1>
<% if current_center.admin? %>
	<h3><%= @center.name %></h3><br>
<% end %>

<p><%= link_to 'Back', handoffs_path %></p>

<% if @handoffs.empty? %>
	<p> No records found.</p>
<% else %>	
	<%= render "handoffs/report" %>
<% end %>
