<% provide(:title, 'All Parents') %>
<h1>All Parents</h1>

<%= will_paginate %>

<ul class="objects">
  <% @parents.each do |parent| %>
    <li>
		<a href="<%= edit_parent_path(parent.id) %>">
		<h4><%= parent.fname %>
			<%= parent.lname %></h4>
		</a>
    </li>
  <% end %>
</ul>

