<% provide(:title, 'Register Parent') %>
<% provide(:button_text, 'Register Parent') %>
<h1> Parent Registration </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<%= render 'form' %>
  </div>
</div>