@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.check_align {
  text-align: center;
  font-size: 2.7vw;
}
.check_center {
  color: grey;
  font-size: 1.5vw;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
#handoff__check {
  width: 30px;
  height: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  /*margin-left: 2vw;*/
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    font-family: georgia;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 255);
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form_container {
  width: 25vw;
  margin: 0 auto;
}
/* Objects index */

.objects {
  list-style: none;
  margin: 0;
  text-align: center;
 
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.center_name {
  text-align: left;
  min-width: 18vw;
  max-width: 150px;
  display: inline-block;
}
.center_links {
  text-align: right;
  display: inline;
}

.super_name {
  text-align: left;
  min-width: 18vw;
  display: inline-block;
}
.super_links {
  text-align: right;
  width: 100vw;
  display: inline;
}
.center_admin {
  position: relative;
  display: inline-block;
}
.center_align {
  width: 84vw;
  text-align: center;
}
.object_index {
  width: 300px; 
  margin: 0 auto; 
  padding-left: 10px;
  text-align: left;
  color: black;
}
.page_title {
  font-size: 4em;
}
.half_size {
  font-size: 2em;
}
.profile h1 {
  text-align: left;
}
.profile span {
  margin-right: 1vw;
}
.div_width {
  text-align: left;
  margin-left: 5vw;
  margin-right: -5vw;
  width: 75vw;
  overflow-x: hidden;
}
.correct_left {
  margin-left: -1.5vw;
  margin-right: 1.5vw;
}
.media1  {
  display: inline;
}
.media2  {
  display: inline;
}
.object_size h2 {
  font-size: 2em;
  color: black;
}
.object_size2 h2 {
  font-size: 1.3em;
}
.report {
  width: 90vw;
  height: 3.5vh;
  border-style: solid;
  border-width: 2px;
  font-size: 1em;
  background-color: lightgrey;
  margin: 0 auto;
}
  
.report span {
  width: 10vw;
  padding: 0 4px 0 1px;
  border-right-style: solid;
  text-align: center;
}
.fields {
  width: 10vw;
  font-size: 1vw;
  color: black;
  display: inline-block;
}
.corners {
  border-radius: 0px;
}

/*Media queries are for admin and superadmin pages.*/

@media all and (max-width: 1200px) {
  .super_name {
    text-align: left;
    width: 50vw;
    display: block;
    margin-left: 5vw;
  }
  .super_links {
    text-align: left;
    margin-left: 5vw;
    margin-right: -5vw;
  }
  .div_width {
    width: 75vw;
  }
}
@media all and (max-width: 993px) {
  .media1 {
    display: block;
    text-align: left;
  }
  .media2 {
    text-align: left;
    display: block;
  }
  .div_width {
    margin-left: 17vw;
    margin-right: -17vw;
    width: 45vw;
  }
  .super_name {
    display: inline;
    text-align: left;
    margin-left: -.5vw;
  }
  #diamond {
    display: none;
  }
   .object_size h2 {
    font-size: 1.5em;
  }
}
@media all and (max-width: 448px) {
  .page_title {
    font-size: 3.5em;
  }
  .object_size h2 {
    font-size: 1.3em;
  }
  .object_size2 h2 {
    font-size: 1em;
  }
}
@media all and (max-width: 770px) {
  #logo {
    margin-left: 2vw;
  }
}