<% provide(:title, 'All Locations') %>
<h1>All Locations</h1>

<%= will_paginate %>

<ul class="objects">
  <% @locations.each do |location| %>
    <li>
		<a href="<%= edit_location_path(location.id) %>">
		<h4><%= location.name %></h4>
		</a>
    </li>
  <% end %>
</ul>

