<% provide(:title, "Branch Profile") %>

<div class="container">
	<div class="profile">
		<h1>Branch Location Profile</h1>
		<span>NAME:</span><%= @location.name %><br><br>

		<% if current_center.admin? %>
			<% center = Center.find(@location.center_id) %>
		  	<span>CLIENT:</span> <%= center.name %><br><br>
	    <% end %>
		
		
		<% if @location.groups.length != 0 %>
			<span>CLASSES:</span>	
			<% @location.groups.each do |group| %>
				<a href="<%= group_path(group.id) %>"><span><%= group.name%></span></a>
			<% end %>
		<% end %>
	</div>
</div>

